@charset "utf-8";


#mainContainer:active{
    text-decoration: underline;
color:navy;
	disp: flex;
	width: 1200px;
	margin: 0 auto;
	padding: 16px;
	max-width: 95%;
	height: 100%;
	background-color: antiquewhite;
	
}

header{
	display:flex;
	text:25px;
	margin: 0 auto;
	width: 125%;
	height: 100 px;
	background-color: royalblue;
	text-align:right;
	}
nav {display: flex;
	width: 100%;
	height: 100px;
	text-align: center;
	letter-spacing: 0.9rem;
}
#title {flex: 1 1 0;
  position: relative;
  text-align: left;
  color: gold;
}

				

.elevate{ flex-grow: 1;
  position: absolute;
  top: 20px;
  left: 16px;
	
	
	
}
.subheading{flex-grow: 1;
		position:absolute;
		top:80px;
		left: 18px;
		color:white;
		white-space: pre-wrap;}
.consult{
	flex-grow: 2;
	position:absolute;
	bottom: 100px;
	left: 20px;
	
}

.button{background-color: blue;
	border-radius: 40px;
	border: 2px;
 color: white;
  padding: 20px;
	white-space: nowrap;
  text-align:center;
font-family: cinzel;
cursor: pointer;
}


#accordion{width:73%;
			margin:auto;
			}





.item1{ flex-wrap: wrap;
		flex-grow:1;
		}
	
	
.item2{flex-grow: 1;
	
	}
#Header{
    padding: 2px;
    disp: flex;
    width: 417px;
    max-width: 90%;
    height: 10%;
    position: absolute;
    right: 90px;
    top: 6px;
	
	

}
.call{display:flex;
	justify-content:center;
	text:25px;
	width: 87%;
	height: 100 px;
	background-color: navy;
	color: gold;
	text-align:right;
	}
#cont2 
		{display:flex;
			flex-direction:column;
			disp: flex;
	width: 1230px;
	margin:auto;
	padding: 2px;
	max-width: 95%;
	height: 100%;
			font-family: cinzel;
	
			
			}

.finishes {
			color:gold;
			background-color:darkgray;
			text-align:center;
			
	}
.plaster{
	flex-grow: 2;
	position:absolute;
	left: 80px;
	font-family: cinzel; 
	background-color:darkgray;
	color:white;
	}
.portfolio{font-family: cinzel;}

#cont3{ 
	margin-left:200px;
  display: flex;
  flex: 33.33%;
	padding: 18px;}

.why {text-align:center;
		font-family: Cinzel;
	}

#cont4{ background-color: peachpuff;
	font-family: cinzel;
	position: relative;
	
	
}

#cont5{flex-direction:column;
	background-color:whitesmoke;
  text-align: center;
	display:flex;
	width: 1230px;
	margin:auto;
	padding: 2px;
	max-width: 95%;
	height: 100%;
			font-family: cinzel;
  
}  

#discover {background-color:cornflowerblue;
			display:flex;
			flex-direction:column;
			disp: flex;
	width: 1230px;
	margin:auto;
	padding: 2px;
	max-width: 95%;
	height: 100%;
	color: white;
			font-family: cinzel;}

#portfolio{text-align: center;
		background-color:lightslategray;
	flex-direction:row;
	display: flex;
	
	
	}
.gallery{ 
	align-content: space-between;
		flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
		align-items: center;
		
	margin-right: 55px;
	
	
	}

#contact{
	text-align:center;
	background-color: navy;

width: 1230px;
	margin:auto;
	
	max-width: 95%;
	height: 100%;}

.form{color:white;}

#about{text-align: center;
background-color: lightsteelblue;}

.story{color:#0C1AF6;
font-family: cinzel;
 border-style: solid;
	border-color:lightgray;
	border-width: thin;
	background-color: white;
	text-align: left;
	

width: 1230px;
	margin:auto;
	
	max-width: 95%;
	height: 100%;}

.button-about{
	background-color: blue;
	text-align: center;
	
	border-radius: 20px;
	border: 2px;
 color: gold;
  padding: 10px;
	white-space: nowrap;
font-family: cinzel;
cursor: pointer;
	
	}

#button-ab{display: block;
  width: 150px;
  margin: 0 auto
}

.faqs{text-align: center;

}

#faq{background-color:#FAD9C3;
	color:#0C1AF6;
	font-family: cinzel;
	display:flex;
	flex-direction: row;
	
	}
.plaster-faq{color:#D8B01C;
text-align:left;
margin:20px;
flex-grow: 1}

.plaster-question{flex-direction: column;
color:#0C1AF6;}

.plaster-answer{color:black;
text-align:left;}

.wallpaper-faq{color:#D8B01C;
text-align:center;
margin:20px;
flex-grow: 1;}

.wallpaper-question{flex-direction: column;
color:#0C1AF6;}

.general-faq{color:#D8B01C;
flex-direction: column;
text-align: center;
margin:20px;
flex-grow: 1;}

.wallpaper-answer{color:black;
text-align:middle;}

.general-question{color:#0C1AF6;}

.general-answer{color:black;
text-align:center;}